@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* common css start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

img{
    max-width: 100%;
    height: auto;
}
ul,li{
    list-style: none;
}

:root{
    --main-font: "Poppins", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --brand-color:#E2342D;
    --secondary-color:#4A4B4D;
}

/* common css end */

/* navbar css start */
.formbar .srch{
    color: #222222;
    opacity: 70%;
    font-size: 20px;
}
.amrnavbar{
    padding-top: 47px;
    padding-bottom: 21px;
}
.navitem{
    display: flex;
    align-items: center;
    gap:76px;
    
}
.nav-icon{
    display: flex;
    gap:37px;
    align-items: center;
    color: #222222;
    opacity: 70%;
    font-size: 22px;
}
.nav-icon button{
    border: none;
    background: transparent;
    
}
/* navba css end */

/* banner css start */
#banner{
    background-color: #F8F8F8;
}

.banner_row{
    padding:58px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner_row  .left_part{
  width: 578px;
}
.banner_row h1{
    
    color: #3A408C;
    font-family:var(--main-font);
    font-size: 54px;
    font-weight: bold;

}
.banner_row p{
    width: 100%;
    color: #707070;
    font-size: 20px;
    font-family:var(--secondary-font);
    font-weight: normal;
}

.banner_row .left-part_span{
    font-weight: bold;
}

.banner_row .left_part .lern_more{
    margin-top: 66px;
    width: 220px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-font);
}
.banner_row .right_part{
    width: 500px;
}

/* banner css end */
/* products css start */
#products {
    margin-top: 100px;
}
#products .products_head{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    color: #004197;
    text-align: center;
    margin-bottom: 36px;
}
#products  .produts-span{
    color: var(--brand-color);
}
.image_card{
    width: 390px;
    height: 537px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_card h2{
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    font-family: var(--main-font);
    font-weight: 500;
}
#products .prevcarosuel{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    left:-2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#products .prevcarosuel .previcon{
    font-size: 21px !important;
    color: var(--secondary-color) !important;
}
#products .nextcarosuel {
   height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    right:4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#products .nextcarosuel .nxtiocn{
    font-size: 21px !important;
    color: var(--secondary-color) !important;
}
/* products css end */
/* discount css start */
#weekly_discount {
    margin-top: 100px;
    position: relative;
}
#weekly_discount .container{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.slider{
    display: flex;
    justify-content: flex-start;
    margin-left: 500px;
}
#weekly_discount .weekly_images{
    width: 570px;
    height: 672px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#weekly_discount .nextcarosuel{
   height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    right:-4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#weekly_discount .nextcarosuel .nxtiocn{
    font-size: 21px !important;
    color: var(--secondary-color) !important;
}
.weekly-head{
    display: flex;
    gap: 78px;
    margin-left: 500px;
}
.weekly-head h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--secondary-color);
}
.weekly-head .mac{
    color: var(--brand-color);
}
.weekly-head button{
    width: 124px;
    height: 40px;
    font-size: 16px;
    font-size: var(--secondary-font);
    font-weight: normal;
    color: var(--secondary-color);

}
.price {
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    font-family: var(--main-font);
    width: 98px;
    margin: 0 auto;

}
.product_card{
    position: relative;
}
.red{
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
    width: 141px;
    height: 31px;
    background-color: var(--brand-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    
}

/* discount css end */
/* top selling start */
#top {
    margin-top: 100px;
    position: relative;
}

#top .top_images{
    width: 570px;
    height: 672px;
    position: absolute;
    right:0px;
    z-index: 1;
    
}
.slider2{
    margin-top:48px;

}

#top .prevcarosuel{
   height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    left:-4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#top .prevcarosuel .previcon{
    font-size: 21px !important;
    color: var(--secondary-color) !important;
}
#top .top-head{
    display: flex;
    gap: 78px;
    align-items: center;
}
.top-head h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--secondary-color);
}
.top-head .mac{
    color: var(--brand-color);
}
.top-head button{
    width: 124px;
    height: 40px;
    font-size: 16px;
    font-size: var(--secondary-font);
    font-weight: normal;
    color: var(--secondary-color);

}
.price {
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    font-family: var(--main-font);
    width: 98px;
    margin: 0 auto;

}
.red{
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
    width: 141px;
    height: 31px;
    background-color: var(--brand-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    
}

/* top selling end */

/* covid-19 guidelines css start */
#covid-19{
    margin-top: 88px;
}
#covid-19 .heading-with-para{
    font-size: 42px;
    font-family: var(--main-font);
    font-weight: 700;
    color: #231F20;
    text-align: center;
}
#covid-19 .covid{
    color: var(--brand-color);
}
#covid-19 .heading-with-para p{
    width: 650px;
    color: #222222;
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight:300;
    margin: 0 auto;
}

/* covid-19 guidelines css end */
/* footer css start */
#foot{
    margin-top: 44px;
    padding: 100px 0px;
}
#foot .footer-row{
    display: flex;
    justify-content: space-between;
}
#foot .first-row ul li{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
}
#foot .second-row ul li{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
}
.last-row .para p{
    width: 428px;
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight:400;
    color: #222222;
}
.last-row .email{
    margin-top: 48px;
    margin-bottom: 31px;
    width: 400px;
    border-bottom: 1px solid #222222;
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
}
.last-row .email input{
    border: none;
    outline: none;
}
.last-row .email  .envelop{
    font-size: 27px;
    color: #231F20;
}
.bottom-row{
    margin-top: 74px;
    text-align: center;
}
.bottom-row p{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--secondary-font);
}
/* footer css end */